<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>266250888268-k6ato4jgra2uprma0uh1b3rnf2s34qk7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.266250888268-k6ato4jgra2uprma0uh1b3rnf2s34qk7</string>
	<key>API_KEY</key>
	<string>AIzaSyCTmOldmas3q2AFadIhabVf9NGczssh9uo</string>
	<key>GCM_SENDER_ID</key>
	<string>266250888268</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brandonluong.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>faceless-b7944</string>
	<key>STORAGE_BUCKET</key>
	<string>faceless-b7944.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:266250888268:ios:2304d046e62b587c</string>
	<key>DATABASE_URL</key>
	<string>https://faceless-b7944.firebaseio.com</string>
</dict>
</plist>